<div class="dashboard-header">
  <h1>HARBOURSIDE519</h1>
  <div class="user-info">
    <span><i class="fas fa-user-circle"></i> Welcome, <%= username %></span>
    <a href="/logout" class="btn-logout"
      ><i class="fas fa-sign-out-alt"></i> Logout</a
    >
  </div>
</div>
